body {
    background-color: rgb(141, 88, 113);
    text-align: center;
    position: sticky;
    padding-top: 200px;
    font-style: italic;

}
h1{
    color:black
}
#pass{
    color: rgb(58, 206, 211);
}
#user{
    color: blueviolet
}
#submit{
    color: rgb(231, 40, 40);
    
}
input {
    width: 25%;
    height: 25;
  }