{% comment %} {% extends 'login' %} {% endcomment %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>please enter your username </title>
</head>

<body>
    <form action="" method="POST">
     {% csrf_token %}
        <div align="right"><a href="/login" > login </a></div><br><br>
        <div align="center"> Email address

        <input type="email" name="email"   required><br><br>
        <button onclick="reset_password.html" id="button" >Submit</button></div><br>

        
    </form>
    <div align="center">
        {% comment %} <h3>{{message}}</h3> {% endcomment %}
    </div>
</body>
</html>
