{% load static %} 
  <!DOCTYPE html>
  <html>
    <head>
     
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
       
        <link type="text/css" rel="stylesheet" href="{% static 'styles/materialize.min.css' %}"  media="screen,projection"/>
        <link type="text/css" rel="stylesheet" href="{% static 'styles/materialize.css' %}"  media="screen,projection"/>
        <link type="text/css" rel="stylesheet" href="{% static 'styles/style.css' %}"  media="screen,projection"/>
      
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/materialize.js' %}"></script>

        <script type="text/javascript" src="{% static 'js/chat.js' %}"></script>
        
        <title>login page</title>
        <link rel = "stylesheet" type="text/css" href="{% static 'styles/user_style.css' %}"/>
    </head>
    <body>
    {% block body %}
        {% comment %} <div class="section blue lighten-3">
            <div class="container white-text center-align text">
            <h2>Chat</h2>
            <p>A simple Chat App using DjangoRestFramework</p>
            <div class="chip">
                <img src="https://opbeat.com/docs/static/images/stacks/logo_django_alt.svg" class="white">
                Django
            </div>
            <div class="chip">
                <img src="http://materializecss.com/res/materialize.svg" class="white">
                MaterializeCSS
            </div>
            </div>
        </div> {% endcomment %}
        {% comment %} <div class="container"> {% endcomment %}
            <div class="row">
            <div class="col s12 m8 l6 offset-m2 offset-l3">
                {% comment %} <div class="section center-block"> {% endcomment %}
                <div>
                    {% block form %}
                    
                    <h1>Login Page</h1>
                    <form action="" name="loginform" method="POST" onsubmit="return validate();">
                        {% csrf_token %}
                        <div>Username:</div> 
                        <input id="user" type= "text" name = "username">
                        <br>
                        <div>Password:</div>
                        <input id="pass" type = "password" name = "password">
                        <br><br>
                        
                        <button onclick="myFunction()" id="button" >Submit</button>
                        
                    </form>
                    {% endblock %}
                </div>
            </div>
            </div>
            </div>
        </div>
         <a href="/registration">Register!</a><br>    
    <a href="/forgot_password">Forgot password?</a>
     <script>
            function validate(){
                var username = document.forms["loginform"]["user"].value;
                var password = document.forms["loginform"]["password"].value;
                {% comment %} var passwordExpression = /[A-Z]{1}[a-zA-Z0-9]+[@#$_]+/; {% endcomment %}
                if (username=="" || password==""){
                    alert("Username/password cannot be empty")
                    return false;
                }
            
        </script>
        {% endblock %}
    </body>
  </html>
