{% load static %}
<!DOCTYPE HTML>
<html>
    <head>
        <title>Register</title>
        <link rel = "stylesheet" type = "text/css" href="{% static 'styles/regis.css' %}"/>
    </head>
    <body>
        <h1>Register</h1>
        <h2>Fill your details below to Register</h2>
        <form action=""  method="POST">
            {% csrf_token %}
            
                <input type="text" name="name" placeholder="name" required> <br><br>
                <input type="text" name="username" placeholder="username" required> <br><br>
                <input type="text" name="email" placeholder="Email address" required> <br><br>
                <input type="password" name="password1" placeholder="Password1" required> <br><br>
                <input type="password" name="password2" placeholder="Password2" required> <br><br>                
                <button onclick="location.href = '//www.youtube.com/watch';" id="button" >Submit</button>
                
        </form>
    </body>
